<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="static/css/Dashboard_Page_style.css">
    <link rel="stylesheet" href="static/css/Blog_Page.css">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Dashboard EduWise</title> 
    <link rel="website icon" type="png" href="static/css/images/graduation-hat.png">
</head>
<!------------------------------Dashboard//////------------------------------------------>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="static/css/images/mortarboard.gif" alt="">
            </div>
            <span class="logo_name">EDUWISE
            </span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/Dashboard_Page">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
        <!------------------------------>
        <li><a href="/Note_Pad">
            <i class="uil uil-clipboard-alt"></i>
            <span class="link-name">Notepad</span>
        </a></li>
<!------------------------------>
        <li><a href="/Generate_Page">
            <i class="uil uil-cog"></i>                    
            <span class="link-name">Generate</span>
        </a></li>
<!------------------------------>
        <li><a href="/Team_Page">
            <i class="uil uil-code-branch"></i>                    
            <span class="link-name">Developers</span>
        </a></li>
<!------------------------------>
<li><a href="/Blog_Page">
  <i class="uil uil-files-landscapes"></i>                    
  <span class="link-name">Our Blog</span>
</a></li>
        <!------------------------------>               
    <!------------------------------------------------------------------------>
          <ul class="logout-mode">
                <li><a href="/">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>
                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------> 
<section class="dashboard">
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>

      <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here...">
      </div>
      <img src="static/css/images/profile.jpg" alt="">
  </div>
  <!--------------->
  <div class="band">
    <div class="item-1">
      <a href="pageblog" class="card">
        <div class="thumb" style="background-image: url(static/css/images/onlineclass3.jpg);"></div>
        <article>
          <h1>Distance or Online education is big! And is growing. In contrast to a still common notion, online higher learning is not limited to a certain type of student. Distance education is used by students from all walks of life in almost every field of study.</h1>
          <span>Mary Winkler</span>
        </article>
      </a>
    </div>
    <div class="item-2">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
        <article>
          <h1>There are many reasons to study online. Common reasons are convenience and accessibility, scheduling flexibility, and accelerated courses. These allow students to move more quickly through their studies than they could in the more common brick and mortar institutions.</h1>
          <span>Harry Brignull</span>
        </article>
      </a>
    </div>
    <div class="item-3">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);"></div>
        <article>
          <h1>3 Interesting Facts about Online Learning</h1>
          <p>Learn at any time, anywhere,Improves time management abilities,Personalization boosts creativity,</p>
          <span>Melody Nieves</span>
        </article>
      </a>
    </div>
    <div class="item-4">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
        <article>
          <h1>How to Code a Scrolling “Alien Lander” Website</h1>
          <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
          <span>Kezz Bracey</span>
        </article>
      </a>
    </div>
    <div class="item-5">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);"></div>
        <article>
          <h1>How to Create a “Stranger Things” Text Effect in Adobe Photoshop</h1>
          <span>Rose</span>
        </article>
      </a>
    </div>
    <div class="item-6">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);"></div>
        <article>
          <h1>5 Inspirational Business Portraits and How to Make Your Own</h1>
  
          <span>Marie Gardiner</span>
        </article>
      </a>
    </div>
    <div class="item-7">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
        <article>
          <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
          <span>Kendra Schaefer</span>
        </article>
      </a>
    </div>
 <!------------------------------------->
    <div class="item-4">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
        <article>
          <h1>How to Code a Scrolling “Alien Lander” Website</h1>
          <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
          <span>Kezz Bracey</span>
        </article>
      </a>
    </div>
    <div class="item-5">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);"></div>
        <article>
          <h1>How to Create a “Stranger Things” Text Effect in Adobe Photoshop</h1>
          <span>Rose</span>
        </article>
      </a>
    </div>
    <div class="item-6">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);"></div>
        <article>
          <h1>5 Inspirational Business Portraits and How to Make Your Own</h1>
  
          <span>Marie Gardiner</span>
        </article>
      </a>
    </div>
    <div class="item-7">
      <a class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
        <article>
          <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
          <span>Kendra Schaefer</span>
        </article>
      </a>
    </div>
  </div>       
</section>

    <!------script------------------------------->

    <script src="static/js/Dashboard_Page_script.js"></script>
</body>
</html>