<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="static/css/Dashboard_Page_style.css">
    <link rel="stylesheet" href="static/css/Generate_Page.css">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Dashboard EduWise</title> 
    <link rel="website icon" type="png" href="static/css/images/graduation-hat.png">
</head>
<!------------------------------Dashboard//////------------------------------------------>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="static/css/images/mortarboard.gif" alt="">
            </div>
            <span class="logo_name">EDUWISE
            </span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/Dashboard_Page">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
        <!------------------------------>
                <li><a href="/Note_Pad">
                    <i class="uil uil-clipboard-alt"></i>
                    <span class="link-name">Notepad</span>
                </a></li>
        <!------------------------------>
                <li><a href="/Generate_Page">
                    <i class="uil uil-cog"></i>                    
                    <span class="link-name">Generate</span>
                </a></li>
        <!------------------------------>
                <li><a href="/Team_Page">
                    <i class="uil uil-code-branch"></i>                    
                    <span class="link-name">Developers</span>
                </a></li>
        <!------------------------------>
                <li><a href="/Blog_Page">
                    <i class="uil uil-files-landscapes"></i>                    
                    <span class="link-name">Our Blog</span>
                </a></li>
        <!------------------------------>
              
    <!-------------------------------team----------------------------------------->
               
    <!------------------------------------------------------------------------>
          <ul class="logout-mode">
                <li><a href="/">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>
                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>
<!------------------------------------------------------------------------>
<!----------------------------generate--------------------------------------------> 
<section class="dashboard">
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>
      <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here...">
      </div>
      <img src="static/css/images/profile.jpg" alt="">
  </div>
  <!--------------->
        <div class="main">
            <h1></h1>
            <ul class="cards">
              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src="static/css/images/image_processing20200926-29404-10m1v6c.png"></div>
                  <div class="card_content">
                    <h2 class="card_title">Generate a New Schedule</h2>
                    <p class="card_text"> </p>
                    <a href="/Input_Page">
                        <button class="btn card_btn">GENERATE</button>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
              <!--------chatbot-------------------->
            </section>
            <!------script------------------------------->
                <script src="static/js/Dashboard_Page_script.js"></script>
                <script src="static/js/Chat_bot.js" ></script>
            </body>
            </html>
