<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Team</title>
    <link rel="website icon" type="png" href="file:///C:/Users/Me/Desktop/EduWiseIIofficial/Dashboard_Files/Images/graduation-hat.png">
    <link rel="stylesheet" href="static/css/Team_Page.css">
    <link rel="stylesheet" href="static/css/Dashboard_Page_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  </head>
<!------------------------------------------------------------------------>
<body>
  <nav>
      <div class="logo-name">
          <div class="logo-image">
              <img src="static/css/images/mortarboard.gif" alt="">
          </div>
          <span class="logo_name">EDUWISE
          </span>
      </div>
      <div class="menu-items">
          <ul class="nav-links">
            <li><a href="/Dashboard_Page">
              <i class="uil uil-estate"></i>
              <span class="link-name">Dashboard</span>
          </a></li>
<!------------------------------------------------------------------------>
          <li><a href="/Note_Pad">
              <i class="uil uil-files-landscapes"></i>
              <span class="link-name">Notepad</span>
          </a></li>
<!------------------------------------------------------------------------>
          <li><a href="/Generate_Page">
            <i class="uil uil-cog"></i>            
            <span class="link-name">Generate</span>
          </a></li>
<!------------------------------------------------------------------------>
              <li><a href="/Team_Page">
                  <i class="uil uil-code-branch"></i>
                  <span class="link-name">Developers</span>
              </a></li>
<!------------------------------>
              <li><a href="/Blog_Page">
                  <i class="uil uil-files-landscapes"></i>
                  <span class="link-name">Our Blog</span>
              </a></li>
<!------------------------------------------------------------------------>
         
<!------------------------------------------------------------------------>
        <ul class="logout-mode">
              <li><a href="/">
                  <i class="uil uil-signout"></i>
                  <span class="link-name">Logout</span>
              </a></li>
              <li class="mode">
                  <a href="#">
                      <i class="uil uil-moon"></i>
                  <span class="link-name">Dark Mode</span>
              </a>
              <div class="mode-toggle">
                <span class="switch"></span>
              </div>
          </li>
          </ul>
      </div>
  </nav>
<!------------------------------------------------------------------------>
<!----------------------------------team-------------------------------------->
<section class="dashboard">
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>

      <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here...">
      </div>
      <img src="static/css/images/profile.jpg" alt="">
  </div>
  <!------------------------->     
   <div class="row">
        <h1>Our Team</h1>
      </div>
      <div class="row">
        <!-- Column 1-->
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="profile-img-1.png" />
            </div>
            <h3>Mohammad Bin Sayeed</h3>
            <p>Founder</p>
            <p>Front-End Developer</p>
            <div class="iconsteam">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
              <a href="#">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Column 2-->
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="profile-img-2.png" />
            </div>
            <h3>Syed Rahmath</h3>
            <p>Founder</p>
            <p>Back-End Developer</p>
            <div class="icons">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
              <a href="#">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- Column 3-->
        <div class="column">
          <div class="card">
            <div class="img-container">
              <img src="profile-img-3.png" />
            </div>
            <h3>Rishabh Pandya</h3>
            <p>Founder</p>
            <p>QA & Analysis</p>
            <div class="icons">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fab fa-github"></i>
              </a>
              <a href="#">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
   <!-- script---------------->
    <script src="static/js/Dashboard_Page_script.js" ></script>
  </body>
</html>